---
interface Props {
  title: string;
  subtitle?: string;
  color: string;
}
const { title, subtitle, color } = Astro.props;
---

<div class="section-header">
  <div class="section-mark" style={`background: var(--${color});`}></div>
  <div>
    <h2>{title}</h2>
    {subtitle && <p class="sub">{subtitle}</p>}
  </div>
</div>
